.StubLogo-img {
	float: left;
    padding-top: 24px;
    padding-left: 37px;
	display: block;
	max-width: 100%;
}

.StubSocials {
	float: right;
	margin-top: 65px;
	margin-right: -3px;
}
.StubSocials-item li {
	list-style-type: none;
	display: inline-block;
	color: #fff;
	padding-right: 20px;
}
