/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.wrapper {
		background-size: cover;
	}
	.StubSocials {
    float: none;
	margin-top: 0;
	position: absolute;
	bottom: 1%;
	left: 6%;	
	}
	.PrService-contacts, .ActionOrg-contacts {
    margin-top: 15px;	
	}
	.Organization-info {
    margin-left: 50px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .StubSocials {
    bottom: 1%;
    left: 6%;
	}
}
@media only screen and (max-width : 736px) {
	.StubLogo-img {
    padding-top: 5px;
    } 
	.PrService-contacts, .ActionOrg-contacts {
    margin-top: 2px;
	}
	.PrService-contacts h1, .ActionOrg-contacts h1 {
    font-size: 18px;
    margin-bottom: 8px;
    }
	.PrService-contacts p, .ActionOrg-contacts p {
    font-size: 14px;
    line-height: 22px;
	}
	footer h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 16px;
    letter-spacing: 1.1px;
	}
	footer button {
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 15px;
    }
}
@media only screen and (max-width : 640px) {
	.StubSocials-item img {
		max-width: 55%;
	}
	.StubSocials {
    bottom: 1%;
    left: 9%;
	}
	footer h2 {
    padding-top: 6px;
    }
	footer button {
    font-size: 12px;
    padding: 11px 14px;
    margin-top: 5px;
	}
	
}
@media only screen and (max-width : 628px) {
   .StubLogo-img {
    padding-top: 5px;
    }
	.PrService-contacts h1, .ActionOrg-contacts h1 {
    font-size: 20px;
    margin-bottom: 10px;
    }
	.PrService-contacts {
    margin-right: 50px;
	}
	footer h2 {
    font-size: 20px;
    }
	footer button {
    margin-top: 15px;
    }
}
@media only screen and (max-width : 568px) {
    .PrService-contacts h1, .ActionOrg-contacts h1 {
    font-size: 16px;
    margin-bottom: 0;
	margin-top: 0;	
	}
	.PrService-contacts p, .ActionOrg-contacts p {
    font-size: 12px;
    line-height: 21px;
	}
	footer h2 {
    font-size: 16px;
	}
	footer button {
    margin-top: 0px;
	font-size: 10px;
    padding: 6px 14px;	
	}
	.StubSocials {
    bottom: 0%;
    }
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .StubLogo-img {
    padding-left: 5px;
    }
	.Organization-info {
    margin-left: 20px;
	}
	.StubSocials-item img {
		max-width: 100%;
	}
	
}
@media only screen and (max-width : 375px) {
   .PrService-contacts h1, .ActionOrg-contacts h1 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
	}
	.PrService-contacts p, .ActionOrg-contacts p {
    font-size: 14px;
    line-height: 21px;
	}
	.PrService-contacts h1, .ActionOrg-contacts h1 {
    margin-top: 15px;
	}
	footer button {
    margin-top: 7px;
    font-size: 13px;
    padding: 9px 14px;
	}
	.StubSocials-item img {
		max-width: 100%;
	}
}
@media only screen and (max-width : 360px) {
   footer button {
	margin-top: 0;
    padding: 15px 15px;
	font-size: 13px;
    }
	.StubSocials-item img {
		max-width: 100%;
	}
}
@media only screen and (max-width : 335px) {
    
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.PrService-contacts h1, .ActionOrg-contacts h1 {
    margin-top: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    

}