.Organization-info {
	max-width: 100%;
	margin-left: 180px;
}
.PrService-contacts, .ActionOrg-contacts  {
	margin-top: 67px;
}
.PrService-contacts {
	float: left;
	margin-right: 84px;
}
.ActionOrg-contacts {
	float: left;
}
.PrService-contacts h1, .ActionOrg-contacts h1 {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 21px;
	letter-spacing: 1.4px;
}

.PrService-contacts p, .ActionOrg-contacts p, footer button {
	font-family: 'Roboto', sans-serif;
}
.PrService-contacts p, .ActionOrg-contacts p {
	font-size: 16px;
	line-height: 24px;
}
.PrService-contacts a, .ActionOrg-contacts a {
	color: inherit;
}
.PrService-contacts a:not(:focus):not(:hover), .ActionOrg-contacts a:not(:focus):not(:hover) {
	text-decoration: none;
}
footer h2 {
	font-size: 22px;
	text-transform: uppercase;
	padding-top: 26px;
	letter-spacing: 1.1px;
}
footer button {
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 18px 34px;
    border: none;
    border-radius: 26px;
    margin-top: 37px;
    letter-spacing: 1.1px;
	box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.26);
  }

