* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
	color: #fff;
	font-family: 'FuturaDemiC', sans-serif;
}
.clear {
	clear: both;
}
.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	min-height: 100vh;
	background-size: contain;
	padding-left: 5px;
	padding-right: 5px;
}
	
}
html {
	
	padding-left: 15px;
	padding-right: 15px;
}


